@if (cards) {
<div class="container mx-auto">
    @if (customOptions) {
    <owl-carousel-o [options]="customOptions" class="relative">
        <ng-container *ngFor="let card of cards">
            <ng-template carouselSlide>
                @if (card.nameProduct === 'BANNER') {
                <div class="bg-banner text-left w-full rounded-lg overflow-hidden border-b-gray-100  border-t border-t-slate-200 hover:border-t-green-200 shadow shadow-slate-400 hover:shadow-green-400 transition-all duration-300 border-b-4 p-5 mx-2 my-2"
                    [ngClass]="[card.color]"
                    [style.background-image]="'url(' + card.numberProduct + ')'">
                    <button class="mt-32 text-sm montserrat bold underline bg-green text-white px-4 py-2 rounded-full">
                        {{ card.detaildProduct | uppercase }}
                    </button>
                </div>
                } @else {
                <div class="bg-white shadow border-t border-t-slate-200 hover:border-t-green-200 shadow-slate-400 hover:shadow-green-400 transition-all duration-300 w-full rounded-lg overflow-hidden border-b-4 p-5 mx-2 my-2"
                    [ngClass]="[card.color]">
                    <div class="flex justify-end pb-1">
                        <mat-checkbox class="text-green-500"></mat-checkbox>
                    </div>
                    <div class="text-left">
                        <h3 class="text-lg font-semibold text-gray-800 montserrat bold">
                            {{ card.nameProduct }}
                        </h3>
                        <p class="montserrat medium text-lg">#{{ card.numberProduct }}</p>
                    </div>
                    <hr class="my-6">
                    <div class="text-left">
                        <p class="montserrat bold">
                            @if (card.nameProduct === 'CREA') {
                            {{ youCurrent }}
                            }
                            @else {
                            {{ youHave }}
                            }
                        </p>
                        <p class="text-green montserrat medium">
                            {{ card.balanceProduct | currency : "USD" : "symbol" : "1.0-0" }}
                        </p>
                    </div>
                    <div class="bg-gray-light relative px-4 py-5 mt-14">
                        <img [defaultImage]="defaultImage" [lazyLoad]="card.icon" [errorImage]="errorImage"
                            alt="Icon help user" class="w-9 h-9 -top-6 left-0 right-0 m-auto absolute" />
                        <p class="text-sm/4">¡{{ card.detaildProduct }}!</p>
                        <p class="text-sm/4">{{ card.recommendation }}</p>
                    </div>
                </div>
                }
            </ng-template>
        </ng-container>
    </owl-carousel-o>
    }
</div>
}@else {
<div>
    <p>No data available.</p>
</div>
}