<div class="text-center">
    <div class="bg-stars"></div>
    <div class="flex gap-3 pb-9">
        <img [defaultImage]="defaultImage" [lazyLoad]="iconHome" [errorImage]="errorImage" alt="Icon help user"
            class="cursor-pointer w-4 h-4" />
        <a routerLink="/home" class="underline verdana bold text-sm text-white test">{{ goHome }}</a>
    </div>
    <div>
        <h1 class="montserrat bold text-[1.7rem] text-white">{{ objectiveAdd }}</h1>
        <p class="text-lg text-white">{{ sendEmail }}</p>
    </div>
    <div class="pt-5 pb-8 flex justify-center">
        <app-objective-card></app-objective-card>
    </div>
    <div>
        <h1 class="montserrat bold text-[1.7rem]" [innerHTML]="nextGoal"></h1>
        <div>
            <p class="text-lg">{{ moreProducts }}</p>
            <div class="flex justify-center items-start gap-3">
                <p class="text-lg verdana bold">{{ addProducts }}</p>
                <img [defaultImage]="defaultImage" [lazyLoad]="iconQuestion" [errorImage]="errorImage"
                    alt="Icon question" class="cursor-pointer w-7 h-7" />
            </div>
        </div>
    </div>
    <div class="pt-5 pb-12 px-8 flex justify-center">
        <div class="max-w-[68rem] w-full">
            <app-product-carousel></app-product-carousel>
        </div>
    </div>
    <div>
        <button class="py-3 px-8 montserrat bold text-lg bg-gray-200 hover:bg-gray-300 rounded-3xl ">
            {{ textButton | uppercase }}
        </button>
    </div>
</div>