@import '../../../colors.scss';

.list-menu {
    .active {
        background-color: $green;
        span {
            color: #FFFF;
        }
    }
}

.bg-light-gray {
    background-color: $light-gray-2;
}