
// colors
$black-transparent: #00000029;
$green: #00C83C;
$gray: #3F3F3F;
$gray-1: #363636;
$yellow: #FECD72;
$light-blue: #A5D7E1;
$light-green: #95DBB7;
$orange: #FE9200;
$dark-blue: #63AABC;
$light-gray: #C4C7C4;
$light-gray-2: #E2E2E2;
$peach: #FF9460;
$green-light: #A4D071;
$gray-light: #EDEDED;