
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the theme object.
$LadingSkandia-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  density: (
    scale: 0,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.all-component-themes($LadingSkandia-theme);
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($LadingSkandia-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($LadingSkandia-theme);
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import './colors.scss';

p, h1, h2, span, a, button {
  color: $gray
}

.text-green {
  color: $green;
}

.text-orange {
  color: $orange;
}


// typography
body {
    margin: 0;
    font-family: Verdana, sans-serif;
    font-weight: 400;
    .montserrat {
        font-family: 'Montserrat', sans-serif;
        &.medium {
            font-weight: 500;
        }
        &.semibold {
            font-weight: 600;
        }
        &.bold {
            font-weight: 700;
        }
    }
    .verdana {
        font-family: Verdana, sans-serif;
        font-weight: 400;
        &.bold {
            font-weight: 700;
        }
    }
    
}